**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.proj.user
**/.dbmdl
**/.jfm
**/bin
**/obj
**/docker-compose.override.yml
**/docker-compose.vs.json
**/docker-compose.yml
**/icon.png
**/Icon.png